*{
	margin: 0;	
	padding: 0 ;
}
.sec1{
     display: flex;
     background-color: #FFC115;
     justify-content: center;
     flex-direction: column;
     height: 100vh;
     align-items: center;
}
.sec1 h1{
	color: white;
	
}
.block {
    margin: 20px;
    width: 100px;
    height: 100px;
    background: #212122;
    transition: width 3s, height 3s, transform 3s;
}

.block:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}
.sec2 {
     display: flex;
     justify-content: center;
     flex-direction: column;
     height: 100vh;
     align-items: center;
     background-color: #F73D48;
}
.ar{
	margin: 20px;
	overflow: scroll;
	background-color: white;
	width: 100px;
	height: 100px;
	border: 1px black;
	
}

.sec2 h1 {
    color: #164DB8;
}


